<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-anadir-editar-ingrediente [ingredienteAEditar]="ingredienteAEditarFG" (formChanged)="onFormChanged($event)" ></app-anadir-editar-ingrediente>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary boton-guardar" (click)="editarIngrediente()">Guardar</button>
    <button type="button" class="btn btn-danger boton-cerrar" (click)="bsModalRef.hide()">Cerrar</button>
  </div>