<form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario)">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <label>
                    <label class="form-label">Nombre de la comida</label>
                    <input formControlName="nombre" class="form-control"
                        placeholder="Introduce el nombre de la comida" />
                </label>
            </div>
        </div>

        <div class="row" style="padding-top: 20px;">

            <div class="col-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nombre ingrediente</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: bucle -->
                        <ng-container *ngFor="let ingrediente of mockingredientes">
                            <tr>
                            <td class="vertical-align-middle">
                                <div class="custom-control custom-checkbox" style="text-align:middle">
                                    <input type="checkbox" class="custom-control-input radio-buttons" id="customCheck1" checked>
                                    <label class="custom-control-label" for="customCheck1"> {{ ingrediente.nombre }}</label>
                                </div>
                            </td>
                            <td><input type="number" formControlName="cantidad" maxlength="2" class="form-control no-border" placeholder="Introduce la cantidad" /></td>
                        </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>

            <div class="row" style="padding-top: 20px;">
                <div class="col">
                    <button type="submit" class="btn btn-primary boton-guardar"
                        [disabled]="!formulario.valid">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>