<div class="container">
    <div class="row">
        <div class="col-12">

            <table class="table table-bordered">
                <thead>
                    <tr class="cabecera">
                        <th>Nombre</th>
                        <th>Ingredientes</th>
                        <th>Macros</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let comida of listaComidas; index as i">
                        <td>
                            {{ comida.nombre }}
                        </td>
                        <td>
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Unidades</th>
                                        <th scope="col">Cal. por 100g</th>
                                        <th scope="col">Prot. por 100g</th>
                                        <th scope="col">Hid. por 100g</th>
                                        <th scope="col">Grasas por 100g</th>
                                        <th scope="col">Fibra</th>
                                        <th scope="col">Sal</th>
                                        <th scope="col">Gramos</th>
                                        <th scope="col">Total calorías</th>
                                        <th scope="col">Total proteínas</th>
                                        <th scope="col">Total grasas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ingrediente of comida.ingredientes; index as i">
                                        <td>{{ingrediente.nombre}}</td>
                                        <td>{{ingrediente.unidades}}</td>
                                        <td>{{ingrediente.calorias}}</td>
                                        <td>{{ingrediente.proteinas}}</td>
                                        <td>{{ingrediente.hidratos}}</td>
                                        <td>{{ingrediente.grasas}}</td>
                                        <td>{{ingrediente.fibra}}</td>
                                        <td>{{ingrediente.sal}}</td>
                                        <td>{{ingrediente.gramos}}</td>
                                        <td>{{ingrediente.totalCalorias}}</td>
                                        <td>{{ingrediente.totalProteinas}}</td>
                                        <td>{{ingrediente.totalGrasas}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <app-pie-chart 
                            [idComida]="comida.id"
                            [proteina]="comida.macros.proteinas"
                            [hidratos]="comida.macros.hidratos"
                            [grasas]="comida.macros.grasas"></app-pie-chart>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>