/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

.form-label {
    font-weight: bold;
}

.form-control, .form-select {
    font-size: 14px !important;
}

.boton-guardar {
    background-color: #65a3e6; 
    border-color: #65a3e6;
    font-size: 14px;
}

.boton-guardar:hover {
    background-color: #378be6;
    border-color: #378be6;
    /* #4e97e6 */
}